.container{ 
    width: 620px;
    padding: auto;
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.box { 
    display: flex;
    justify-content: space-between;
}

.logotext { 
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;

}

.hr { 
    color: #c54a45;
    margin-top: 30px;
}

.btn { 
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.btn3 { 
    width: 95px;
    height: 26px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 14px;
}

